ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/machines/node-1/virtualbox/action_provision
.vagrant/machines/node-1/virtualbox/action_set_name
.vagrant/machines/node-1/virtualbox/box_meta
.vagrant/machines/node-1/virtualbox/creator_uid
.vagrant/machines/node-1/virtualbox/id
.vagrant/machines/node-1/virtualbox/index_uuid
.vagrant/machines/node-1/virtualbox/synced_folders
.vagrant/machines/node-1/virtualbox/vagrant_cwd
.vagrant/machines/node-2/virtualbox/action_provision
.vagrant/machines/node-2/virtualbox/action_set_name
.vagrant/machines/node-2/virtualbox/box_meta
.vagrant/machines/node-2/virtualbox/creator_uid
.vagrant/machines/node-2/virtualbox/id
.vagrant/machines/node-2/virtualbox/index_uuid
.vagrant/machines/node-2/virtualbox/synced_folders
.vagrant/machines/node-2/virtualbox/vagrant_cwd
.vagrant/machines/node-master/virtualbox/action_provision
.vagrant/machines/node-master/virtualbox/action_set_name
.vagrant/machines/node-master/virtualbox/box_meta
.vagrant/machines/node-master/virtualbox/creator_uid
.vagrant/machines/node-master/virtualbox/id
.vagrant/machines/node-master/virtualbox/index_uuid
.vagrant/machines/node-master/virtualbox/synced_folders
.vagrant/machines/node-master/virtualbox/vagrant_cwd
.vagrant/machines/ubuntu-master/virtualbox/action_provision
.vagrant/machines/ubuntu-master/virtualbox/action_set_name
.vagrant/machines/ubuntu-master/virtualbox/box_meta
.vagrant/machines/ubuntu-master/virtualbox/creator_uid
.vagrant/machines/ubuntu-master/virtualbox/id
.vagrant/machines/ubuntu-master/virtualbox/index_uuid
.vagrant/machines/ubuntu-master/virtualbox/synced_folders
.vagrant/machines/ubuntu-master/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
